@import url(https://db.onlinewebfonts.com/c/0c5e6f133b0b25edfed47aca4ab57676?family=Segoe+UI+Historic);
@font-face {
    font-family: "Segoe UI Historic";
    src: url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.eot");
    src: url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.svg#Segoe UI Historic")format("svg");
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Segoe UI Historic";
}